.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
  }
  
  .box li {
    display: flex;
    flex-direction: column;
    background: #FFF;
    border-radius: 4px;
    padding: 13px;
  }
  
  .box img {
    max-width: 300px;
    max-height: 220px;
    border-radius: 4px;;
  }
  
  .box strong {
    font-size:16px;
    line-height: 20px;
    color: #191919;
    margin-top: 10px;
  }
  
  .box span {
    margin: 4px;
  }

  .box button {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background: #191919;
    border:0;
    border-radius: 4px;
  }
  
  .box button div {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .box button span {
    font-size: 1.2em;
    color: #eee;
  }