.title{
    color: #FFF;
  }
  
  .reservas{
    padding: 20px;
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .reservas img{
    height: 100px;
  }
  
  .reservas button{
    border: 0;
    background: #FFF;
  }

  .reservas .reserveSize {
    display: flex;
    align-items: center;
  }

  .reservas .reserveSize button {
    outline: none;
  }

  .reservas .reserveSize input {
    width: 30px;
    height: 20px;
    text-align: center;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 5px;
    font-size: 12px
  }

  footer button{
    border: 0;
    display: flex;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold;
  }